#eachSlide{
    position: relative;
}

#pagination{

    position:absolute;
    z-index: 1000;
    width: 50%;
    left: 25%;
    bottom: 3px;

}

@media (max-width: 600px) {
    
    #pagination{
        left: 28%;
    }
}