
#pagination{
    display: flex;
    justify-content: center;

    div{

        display: flex;
        align-items: center;
        gap: 50px;
    }

}

.paginationBtn{
    background-color: transparent ;
    color: white;
    border: none;

    
}
.paginationBtn:hover{
    background-color: transparent;
}