@import "material-icons/iconfont/material-icons.css";

body{
  color: white;
  background-color: #130f0f;
  margin: 0px;
  padding: 0px;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: smaller !important;
  }
}